---
import { Image } from "astro:assets";
import Footer from "../components/Footer.astro";
import Header1 from "../components/Header.astro";
import Navbar from "../components/Navbar.astro";
import BlueE from "../images/blue_e.svg";
import AboutImage from "../images/index/about-img.png";
import AboutIcon1 from "../images/index/about_icon1.svg";
import AboutIcon2 from "../images/index/about_icon2.svg";
import Goals from "../images/index/goals.png";
import HireImg from "../images/index/hire.png";
import Maintenance1 from "../images/index/maintenance1.png";
import Maintenance2 from "../images/index/maintenance2.png";
import MaintenanceIcon1 from "../images/index/maintenance_icon1.png";
import MaintenanceIcon2 from "../images/index/maintenance_icon2.png";
import Process1 from "../images/index/process1.png";
import Process2 from "../images/index/process2.png";
import Process3 from "../images/index/process3.png";
import Process4 from "../images/index/process4.png";
import Process5 from "../images/index/process5.png";
import Solutions1 from "../images/index/solutions1.png";
import Solutions2 from "../images/index/solutions2.png";
import Solutions3 from "../images/index/solutions3.png";
import Layout from "../layouts/Layout.astro";
---

<Layout title="ElevaPro">
	<main>
		<Header1/>
		<Navbar/>
		<section id="header" class="flex justify-center items-center">
			<div class="container flex flex-wrap md:flex-nowrap">
				<div class="w-full md:w-1/2 mb-4 md:mb-0">
					<Image src={BlueE} alt="About Image" class="w-1/4" />
					<h1>Innovación y calidad que te elevan al siguiente nivel.</h1>
					<p><span style="color: #50A5DD; font-weight: bold;">Elevapro</span> es una empresa mexicana con profesionales en la instalación, reparación, modernización y mantenimiento de sistemas de elevadores y escaleras eléctricas.</p>
				</div>
				<div class="w-full md:w-1/2"></div>
			</div>
		</section>		  

		<section id="about" class="flex flex-wrap md:flex-nowrap justify-center items-center container mt-20 gap-4">
			<div class="p-4 w-full md:w-1/2">
				<Image src={AboutImage} alt="About Image" class="w-full" />
			</div>
			<div class="justify-center p-4 w-full md:w-1/2">
				<div class="mb-10">
					<h1>Acerca De</h1>
					<p class="text-justify">Contamos con más de 12 años de experiencia en el ramo del transporte vertical multimarca. Ofrecemos al mercado soluciones integrales a cada proyecto, cumpliendo con las normas vigentes y los estándares más altos de calidad y seguridad.</p>
				</div>
				<div class="flex flex-wrap md:flex-nowrap justify-between w-full gap-6">
					<div class="w-full">
						<Image src={AboutIcon1} alt="About Image" class="w-16 mb-8" />
						<h2>NUESTRA MISIÓN</h2>
						<p class="text-gray-600">Nuestra misión es proporcionar soluciones integrales en transporte vertical, enfocándonos principalmente en brindarles a nuestros clientes una amplia gama de posibilidades para cumplir con sus objetivos, basándonos en experiencia, calidad e innovación.</p>
					</div>
					<div class="w-full">
						<Image src={AboutIcon2} alt="About Image" class="w-16 mb-8" />
						<h2>NUESTRA VISIÓN</h2>
						<p class="text-gray-600">Ser una empresa líder a nivel nacional proporcionando soluciones innovadoras y eficientes en transporte vertical, ofreciendo siempre la mejor solución. Conservando clientes que disfrutan de su experiencia y usuarios que se sientan seguros.</p>
					</div>
				</div>
				<div class="mt-12">
					<button class="text-white p-3 flex items-center font-bold">
						CONTACTO
						<span class="ml-2 inline-flex">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
						</svg>
						</span>
					</button>
				</div>
			</div>
		</section>		  

		<section id="hire" class="mt-20">
			<div class="flex flex-wrap md:flex-nowrap justify-between items-center container gap-12 pt-16 pb-16">
				<div class="w-full md:w-1/2">
					<p class="text-custom-sky-blue font-bold">Nuestros servicios</p>
					<h1 class="text-white mt-5 text-3xl font-bold">Por Qué Contratarnos</h1>
					<ul class="list-none mt-10">
						<li class="flex items-start mb-6">
							<div class="w-6 h-5 bg-[#F4A13D] rounded-full flex items-center justify-center mt-1 mr-4">
								<svg class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
								</svg>
							</div>
							<div>
								<h3 class="text-lg font-semibold">Experiencia y Conocimiento</h3>
								<p class="mt-2">
									Con más de 12 años en el mercado del transporte vertical multimarca, nuestro equipo posee la experiencia y el conocimiento necesarios para garantizar la mejor calidad en instalación, reparación, modernización y mantenimiento de elevadores y escaleras eléctricas.
								</p>
							</div>
						</li>
						<li class="flex items-start mb-6">
							<div class="w-6 h-5 bg-[#F4A13D] rounded-full flex items-center justify-center mt-1 mr-4">
								<svg class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
								</svg>
							</div>
							<div>
								<h3 class="text-lg font-semibold">Compromiso con la Seguridad</h3>
								<p class="mt-2">
									La seguridad de nuestros usuarios es nuestra prioridad. Nuestro personal está altamente calificado y certificado, recibiendo capacitación constante para asegurar que todos los trabajos se realicen cumpliendo con los más altos estándares de seguridad.
								</p>
							</div>
						</li>
						<li class="flex items-start mb-6">
							<div class="w-6 h-5 bg-[#F4A13D] rounded-full flex items-center justify-center mt-1 mr-4">
								<svg class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
								</svg>
							</div>
							<div>
								<h3 class="text-lg font-semibold">Calidad y Confiabilidad</h3>
								<p class="mt-2">
									Nos comprometemos a ofrecer servicios de la más alta calidad. Utilizamos materiales y tecnologías de primera, garantizando que nuestros productos y servicios sean confiables y duraderos.
								</p>
							</div>
						</li>
					</ul>
					<div class="flex justify-end items-center">
						<button class="text-white p-5 rounded-sm flex items-center font-bold">
							SERVICIOS
							<span class="ml-2 inline-flex">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
									<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
								</svg>
							</span>
						</button>
					</div>
				</div>
				<div class="w-full md:w-1/2">
					<Image src={HireImg} alt="About Image" class="w-full" />
				</div>
			</div>
		</section>

		<section id="solutions" class="text-[#323C45] container mt-20">
			<div class="flex flex-wrap md:flex-nowrap justify-between items-center gap-12 pt-16 pb-16">
				<h1 class="font-bold text-4xl w-full md:w-1/2">Soluciones integrales para un transporte vertical.</h1>
				<p class="w-full md:w-1/2 text-left text-sm">Ofrecemos capacitación a su personal para el correcto uso y mantenimiento de los sistemas instalados o reparados. Esto asegura un manejo adecuado y prolonga la vida útil de los equipos.</p>
			</div>

			<div class="mt-10 flex flex-wrap md:flex-nowrap justify-center items-stretch gap-8">
				<div class="w-full md:w-1/3 flex flex-col">
					<Image src={Solutions1} alt="Personal image" class="w-full" />
					<div class="flex flex-col justify-between flex-grow p-4">
						<p class="text-2xl">Personal Calificado</p>
						<p class="mt-7">Contamos con técnicos y especialistas altamente capacitados y certificados, asegurando un servicio profesional y de calidad en cada proyecto.</p>
					</div>
				</div>
				<div class="w-full md:w-1/3 flex flex-col">
					<Image src={Solutions2} alt="Tech image" class="w-full" />
					<div class="flex flex-col justify-between flex-grow p-4">
						<p class="text-2xl">Tecnología Avanzada</p>
						<p class="mt-7">Incorporamos las últimas tecnologías y métodos innovadores en todos nuestros servicios, garantizando eficiencia y modernidad en cada solución que ofrecemos.</p>
					</div>
				</div>
				<div class="w-full md:w-1/3 flex flex-col">
					<Image src={Solutions3} alt="Costs image" class="w-full" />
					<div class="flex flex-col justify-between flex-grow p-4">
						<p class="text-2xl">Costos Competitivos</p>
						<p class="mt-7">Proporcionamos soluciones económicas sin comprometer la calidad. Nuestro objetivo es ofrecer la mejor relación calidad-precio en todos nuestros servicios.</p>
					</div>
				</div>
			</div>			  

			<div class="mt-12 flex justify-center items-center">
				<button class="text-white p-5 rounded-sm flex items-center font-bold">
					SERVICIOS
					<span class="ml-2 inline-flex">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
					</svg>
					</span>
				</button>
			</div>
		</section>

		<section id="maintenance" class="mt-28 container">
			<div class="flex flex-wrap md:flex-nowrap justify-between items-center gap-16">
				<div class="text-right md:w-1/2 w-full">
					<h1 class="text-5xl font-bold">Mantenimiento Preventivo y Correctivo</h1>
					<p class="mt-5">Ofrecemos servicios de mantenimiento tanto preventivo como correctivo, asegurando el óptimo funcionamiento y prolongando la vida útil de sus equipos.</p>
				</div>

				<div class="md:w-1/2 w-full">
					<Image src={Maintenance1} alt="About Image" class="w-full" />
				</div>
			</div>
			
			<div class="md:relative flex flex-wrap md:flex-nowrap gap-16 mt-20 alig-items-center">
				<div class="md:relative md:top-32 md:z-10 w-full md:w-1/2">
					<div class="flex flex-wrap md:flex-nowrap justify-between items-center bg-white">
						<div class="w-1/3 flex justify-start md:justify-center">
							<Image src={MaintenanceIcon1} alt="About Image" class="w-1/2 mb-5 md:mb-0" />
						</div>
						<div class="w-full">
							<p class="font-bold text-sm">SERVICIOS PERSONALIZADOS</p>
							<p class="text-xs mt-2">Ofrecemos soluciones a medida que se adaptan a las necesidades específicas de cada cliente, proporcionando un enfoque personalizado en cada etapa del proyecto.</p>
						</div>
					</div>
					<div class="flex flex-wrap md:flex-nowrap justify-between items-center mt-8 bg-white">
						<div class="w-1/3 flex justify-start md:justify-center">
							<Image src={MaintenanceIcon2} alt="About Image" class="w-1/2 mb-5 md:mb-0" />
						</div>
						<div class="w-full">
							<p class="font-bold text-sm">TECNOLOGÍA AVANZADA</p>
							<p class="text-xs mt-2">Incorporamos las últimas tecnologías y métodos innovadores en todos nuestros servicios, garantizando eficiencia y modernidad en cada solución que ofrecemos.</p>
						</div>
					</div>
				</div>
				<div class="md:absolute md:top-0 md:right-0 w-full z-0 md:flex md:justify-end">
					<Image src={Maintenance2} alt="About Image" class="md:w-3/5 w-full" />
				</div>
			</div>						
		</section>

		<section id="process" class="mt-20 md:mt-60 container">
			<div class="flex justify-center">
				<div class="text-center w-2/3">
					<h1 class="font-bold text-5xl">Proceso de trabajo</h1>
					<p class="mt-8">Ofrecemos capacitación a su personal para el correcto uso y mantenimiento de los sistemas instalados o reparados. Esto asegura un manejo adecuado y prolonga la vida útil de los equipos.</p>
				</div>
			</div>
			<div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 gap-6 mt-20">
				<div class="text-center">
					<Image src={Process1} alt="Image 1" class="mx-auto w-1/2 h-24 object-contain"/>
					<p class="mt-6 text-sm font-semibold">CONSULTA INICIAL</p>
					<p class="text-xs mt-2">El primer paso es entender sus necesidades. Realizamos una consulta inicial donde escuchamos sus requerimientos y evaluamos las condiciones actuales de sus elevadores y escaleras eléctricas.</p>
				</div>
				
				<div class="text-center">
					<Image src={Process2} alt="Image 2" class="mx-auto w-1/2 h-24 object-contain"/>
					<p class="mt-6 text-sm font-semibold">DIAGNÓSTICO Y EVALUACIÓN</p>
					<p class="text-xs mt-2">Nuestros técnicos realizan una inspección detallada de sus sistemas de transporte vertical para identificar cualquier problema y evaluar el estado general de los equipos. Este diagnóstico nos permite ofrecerle un informe detallado y preciso.</p>
				</div>
			  
				<div class="text-center">
					<Image src={Process3} alt="Image 3" class="mx-auto w-1/2 h-24 object-contain"/>
					<p class="mt-6 text-sm font-semibold">PROPUESTA DE SOLUCIONES</p>
					<p class="text-xs mt-2">Con base en el diagnóstico, elaboramos una propuesta de soluciones a medida. Esta incluye opciones de reparación, modernización o mantenimiento, con un enfoque en mejorar la seguridad, eficiencia y durabilidad de sus equipos.</p>
				</div>
			  
				<div class="text-center">
					<Image src={Process4} alt="Image 4" class="mx-auto w-1/2 h-24 object-contain"/>
					<p class="mt-6 text-sm font-semibold">PLANIFICACIÓN Y PRESUPUESTO</p>
					<p class="text-xs mt-2">Trabajamos junto con usted para planificar el proyecto, estableciendo un cronograma y un presupuesto claro. Nos aseguramos de que todas las fases del proyecto estén bien definidas y alineadas con sus expectativas y necesidades.</p>
				</div>
			  
				<div class="text-center">
					<Image src={Process5} alt="Image 5" class="mx-auto w-1/2 h-24 object-contain"/>
					<p class="mt-6 text-sm font-semibold">MANTENIMIENTO CONTINUO</p>
					<p class="text-xs mt-2">Proporcionamos servicios de mantenimiento preventivo y correctivo para asegurar que sus sistemas de transporte vertical sigan operando de manera óptima. Nuestro equipo está disponible para responder rápidamente a cualquier necesidad de mantenimiento.</p>
				</div>
			</div>			  
		</section>

		<section id="goals" class="container mt-40">
			<div class="flex flex-wrap md:flex-nowrap justify-between gap-12 md:relative">
				<div class="w-full md:w-1/3">
					<div>
						<h1 class="font-bold text-5xl">Objetivos</h1>
						<p class="mt-8">Para <span style="color: #50A5DD; font-weight: bold;">Elevapro</span> la seguridad de los usuarios es primero, nuestro personal está altamente calificado y certificado, los cuales reciben capacitación de manera constante. Nuestro objetivo principal es su seguridad y tranquilidad, por ello le brindamos el asesoramiento necesario con soluciones económicas para que sus equipos sean más seguros, confiables, eficientes y duraderos.</p>
					</div>
					<div class="mt-12 bg-[#50A5DD] p-9 text-white md:absolute md:z-10 w-full md:w-4/6">
						<div class="p-0 md:pl-12">
							<p class="font-bold text-xl">Nuestros Valores</p>
							<p class="mt-4">En <strong>Elevapro</strong>, nuestros valores fundamentales guían cada acción y decisión que tomamos. Creemos firmemente que estos principios son esenciales para proporcionar servicios de alta calidad y asegurar la satisfacción y seguridad de nuestros clientes.</p>
						</div>
					</div>
				</div>
				<div class="w-full md:w-2/3">
					<Image src={Goals} alt="About Image" class="w-full z-0" />
				</div>
			</div>
		</section>

		<Footer />
	</main>
</Layout>


<style>
	#header{
        background-image: url('../images/header_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 80vh;
        color: white;
    }
    #header h1{
        font-size: 3em;
        font-weight: bold;
    }
	#about{
		color: #001D2F;
	}
	#about h1{
		font-size: 1.9em;
		font-weight: bold;
	}
	#about h2{
		font-size: 0.85em;
		font-weight: bold;
	}
	#about button{
		background-color: #001D2F;
	}
	p{
		font-family: 'Lato', 'sans-seris';
	}
	#hire{
		background-color: #001D2F;
	}
	#hire li{
		color: white;
	}
	#hire button, #solutions button{
		background-color: #50A5DD;
	}
</style>